[submodule "products-ms"]
	path = products-ms
	url = https://github.com/Nest-Microservices-Pierre/products_ms.git
[submodule "client-gateway"]
	path = client-gateway
	url = https://github.com/Nest-Microservices-Pierre/api_gateway.git
[submodule "orders-ms"]
	path = orders-ms
	url = https://github.com/Nest-Microservices-Pierre/order_ms.git
[submodule "payments-ms"]
	path = payments-ms
	url = https://github.com/Nest-Microservices-Pierre/payments_ms
[submodule "auth-ms"]
	path = auth-ms
	url = https://github.com/Nest-Microservices-Pierre/auth-ms.git
